@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:ital,wght@0,400;1,100;1,400&family=Poiret+One&family=Raleway:ital,wght@0,400;1,400;1,600&display=swap');
/* body{
    display: flex;
    flex-wrap: wrap;
font-family: 'Lobster Two', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
} */
body{
    font-family: 'Raleway', sans-serif;
    color: #313131;
    background-color: rgb(247, 247, 247)
}
.div-personal-profile{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    margin-left: 80px;

}

.intro-picure img{
    background-color: aquamarine;
    margin-right: 70px;
    margin-bottom: -4px;
}

.personal-profile{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: left;
    
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: -30px;
    color: rgb(239, 107, 105);
    
}

.title h3{
    width: 200px;
    font-size: 18px;
    margin-top: -20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #414141;
    font-style: italic;
}

.presentation{
    text-align: left;
    margin: 0px;
    margin-top: 15px;
    text-align:start;
    width: 80%;

}
.nav-menu-index{
    background-color: rgb(239, 107, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 800px;
    flex-wrap: wrap;
}

.nav-link{
    min-width: 100px;
    /* border-bottom: 0.5px solid #414141;
    border-radius: 40%; */
    color: #414141;
    font-style: italic;
    text-decoration: none;
    font-size: 18px;
}

.nav-link :hover{
    color: rgb(247, 247, 247);
    font-style: normal;
}

.nav-menu-index :hover{
    color: rgb(247, 247, 247);
    font-style: normal;
}


header{
    background-color: rgb(239, 107, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.contacts-main-div{
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}